html {
    font-size: 17px;
    // color: rgb(20,25,31);
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    left: 0;
    padding: 0;
    margin: 0;
    transform-style: preserve-3d;
    perspective: 1000;
    backface-visibility: hidden;
    overflow: hidden;
    background-color: rgb(20,25,31);
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
}

location-header {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
    color: white;
    text-align: center;
    padding-top: 7vh;
    padding-bottom: 7vh;
    // background-color: rgb(20,25,31);
}

location-header:nth-of-type(odd) {
    left: 0;
    top: 0;
}

location-header:nth-of-type(even) {
    left: 50vw;
    top: 0;
}

location-header img {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    width: auto;
    height: 15vh;
    margin: auto;
}

location-header a img:last-of-type {
    height: 5vh;
    width: 5vh;
}

location-header name {
    font-size: 3vh;
    font-family: herobold;
    text-align: center;
    width: 100%;
}

location-header address {
    font-size: 1.7vh;
    font-family: herolight;
    font-style: normal;
    text-align: center;
    width: 100%;
}

location-header a {
    text-decoration: none;
}

events-container {
    position: absolute;
    display: inline-block;
    top: 37vh;
    left: 0;
    width: 120vw;
    height: 70vh;
    background-color: rgb(20,25,31);
}

.home {
    position: absolute;
    display: block;
    top: 2vh;
    left: 2vh;
    background-image: url("../img/homeicon.svg");
    background-size: 4vh 4vh;
    width: 4vh;
    height: 4vh;
    z-index: 10;
    filter: drop-shadow(0px 0px 4px #000000);
}

event {
    position: absolute;
    display: inline-flex;
    width: 50vw;
    height: 70vh;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-family: heroregular;
    margin: 0;
    padding: 0;
    filter: grayscale();
    transition: filter .3s ease;
    cursor: pointer;
}

event:nth-of-type(1) {
    left: 0;
}

event:nth-of-type(2) {
    left: 50vw;
}

#mulinoadarte {
    background-image: url('../img/mulinoadarte.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#bellifreschi {
    background-image: url('../img/bellifreschi.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#tomnewtontrio {
    background-image: url('../img/tomnewtontrio.jpeg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

#bandakadabra {
    background-image: url('../img/bandakadabra.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#granbaldub {
    background-image: url('../img/granbaldub.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


event:hover {
    filter: none;
}

event:hover a {
    color: white;
}

event a {
    font-size: 6vw;
    font-family: herobold;
    text-align: center;
    text-decoration: none;
    white-space: pre-line;
    width: 50vw;
    height: 80%;
    margin: auto;
    padding: auto;
    // vertical-align: middle;
    color: white;
    text-shadow: 0px 0px 10px #000000, 0px 0px 10px #000000, 0px 0px 10px #000000, 0px 0px 10px #000000;
}

event a data {
    font-size: 2.5vh;
}

.img-wrapper {
    display: inline-block;
    width: 100%;
    height: 20vh;
    background-color: white;
    margin: auto;
}

.img-wrapper img {
    height: 16vh;
    width: auto;
    margin-top: 2vh;
}