html {
    font-size: 17pw;
    color: rgb(20,25,31);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    left: 0;
    padding: 0;
    margin: 0;
    transform-style: preserve-3d;
    perspective: 1000;
    backface-visibility: hidden;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    scroll-behavior: smooth;
}

.logos {
    position: absolute;
    top: 0;
    left: 0;
    width: 101vw;
    z-index: 20;
    text-align: center;
}

.logos p {
    position: absolute;
    width: 100vw;
    top: 2vh;
    z-index: 11;
    color: black;
    text-align: center;
    font-size: 1.2vh;
    font-family: heroregular;
}

logocontainer {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: 5vh;
    left: 0;
    width: 15vw;
    height: 15vmin;
    margin: 0;
    padding: 0;
}

logocontainer:first-of-type {
    width: 42.5vw;
    height: 5.5vmin;
    text-align: right;
}

logocontainer:last-of-type {
    width: 42.5vw;
    height: 5.5vmin;
    text-align: left;
}

logocontainer img {
    position: relative;
    display: inline-block;
    height: 100%;
    width: auto;
    margin-left: 1vmin;
    margin-right: 1vmin;
    z-index: 10;
}

container img {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 25vh;
    z-index: 10;
    overflow: hidden;
}

container  {
    position: relative;
    display: inline-block;
    width: 100vw;
    height: fit-content;
    transform: translateY(-2.1vh);
    overflow: hidden;
}

container::after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 5px solid rgb(52,63,79);
}

container:nth-of-type(odd) {
    background-color: rgb(20,25,31);
}

container:first-of-type {
    background-color: white;
}

motto, andyou, description {
    position: relative;
    display: inline-block;
    width: 100vw;
    left: 0;
    text-align: center;
    font-size: 4vh;
    font-family: squarefont;
    margin-top: 2vh;
    white-space: pre-line;
    background-color: white;
    color: rgb(231, 129, 62);
}

description andyou {
    width: 100%;
    font-size: 1.5vh;
    margin-top: 4vh;
    margin-bottom: 10vh;
    color: rgb(231, 129, 62);
}

description {
    font-size: 1.7vh;
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
    white-space: pre-line;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

container:nth-of-type(even) motto, container:nth-of-type(even) andyou {
    color: rgb(20,25,31);
    background-color: white;
}

container:nth-of-type(odd) motto, container:nth-of-type(odd) andyou {
    color: white;
    background-color: rgb(20,25,31);
}

container:first-of-type::after {
    transform: translateY(60vh);
}

spacer, arrow-spacer {
    position: relative;
    display: inline-block;
    width: 100vw;
    height: fit-content;
    overflow-x: hidden;
}

spacer {
    height: 8vh;
}

arrow-spacer::after {
    content:"";
    position: absolute;
    box-sizing: border-box;
    height: 2.5vh;
    width: 2.5vh;
    bottom: 2.5vh;
    left: calc(50vw - 1.25vh + 5px / 2);
    border-style: solid;
    border-color: rgb(231, 129, 62);
    filter: drop-shadow(2px 2px 3px white) drop-shadow(-2px -2px 3px white);
    border-width: 0px 5px 5px 0px;
    border-radius: 5px;
    transform: rotate(45deg);
    transform-origin: center;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: bounce-arrow;
    animation-timing-function: ease-in-out;
}

@keyframes bounce-arrow {
    0%   { transform: translateY(0) rotate(45deg); }
    50%  { transform: translateY(-25%) rotate(45deg); }
    100% { transform: translateY(0) rotate(45deg); }
}

.content {
    position: relative;
    display: inline-block;
    white-space: pre-line;
    overflow: hidden;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.past {
    opacity: .3;
}

.content:nth-of-type(odd) {
    width: 50vw;
    text-align: right;
}

.content:nth-of-type(even) {
    width: 50vw;
    left: 50vw;
    text-align: left;
}

.content data {
    font-size: 2vh;
    font-family: squarefont;
    color: rgb(52, 73, 79);
    border-bottom: 5px solid rgb(52,63,79);
}

.content:nth-of-type(odd) data {
    padding-left: 14vw;
    padding-right: 2vw;
}

.content:nth-of-type(even) data {
    padding-left: 2vw;
    padding-right: 14vw;
}

.content titolo, .content sottotitolo {
    font-size: 3vh;
    font-family: heroregular;
    line-height: 5vh;
}

.content sottotitolo {
    font-size: 1.8vh;
    line-height: 1.8vh;
    padding-right: 2vw;
    color: rgb(100, 120, 128);
}

.content:nth-of-type(odd) titolo::after {
    content:"";
    position: absolute;
    height: 2vh;
    width: 2vh;
    right: 0;
    background-color: rgb(52,63,79);
    border-radius: 50%;
    display: inline-block;
    transform: translateX(calc(1vh + 2.5px)) translateY(-1vh);
}

.content:nth-of-type(even) titolo::after {
    content:"";
    position: absolute;
    height: 2vh;
    width: 2vh;
    left: 0;
    background-color: rgb(52,63,79);
    border-radius: 50%;
    display: inline-block;
    transform: translateX(calc(-1vh + 2.5px)) translateY(-1vh);
}

.content chi {
    font-size: 1.7vh;
    font-family: heroregular;
}

.content titolo a {
    vertical-align: middle;
    height: 1.7vw;
    font-size: 1.2vh;
    line-height: 1.7vw;
    margin-left: .5vw;
    margin-right: .5vw;
    text-decoration: none;
    color: rgb(231, 129, 62);
}

.content titolo a::after {
    content: '[+]';
    transition: content 1s;
}

.content titolo a:hover::after {
    content: '[more]';
}

.content dove, prezzo, food, ora {
    font-size: 1.2vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(62, 68, 78);
}

.content food {
    padding-top: 1vh;
}

.content data, chi, dove, titolo, prezzo, food, ora{
    padding-left: 2vw;
    padding-right: 2vw;
}

.content dove::before {
    content: '📍 ';
}

.content prezzo::before {
    content: '🏷 ';
}

.content ora::before {
    content: '🕣 ';
}

.content food::before {
    content: '🍽 ';
}

location a, dove a {
    text-decoration: none;
    color: rgb(62, 68, 78);
}

location a:hover, dove a:hover {
    color: rgb(231, 129, 62);
}

location-wrapper {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    height: 40vh;
}

location {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 50vw;
    color: white;
    text-align: center;
    padding-top: 7vh;
    padding-bottom: 7vh;
}

location:nth-of-type(odd) {
    left: 0;
    top: 0;
}

location:nth-of-type(even) {
    left: 50vw;
    top: 0;
}

location img {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    width: auto;
    height: 15vh;
    margin: auto;
}

location a img:last-of-type {
    height: 5vh;
    width: 5vh;
}

location name {
    font-size: 3vh;
    font-family: herobold;
    text-align: center;
    width: 100%;
}

location address {
    font-size: 1.7vh;
    font-family: herolight;
    font-style: normal;
    text-align: center;
    width: 100%;
}

location book a, .content book a {
    position: relative;
    display: inline-block;
    width: 50vw;
    left: 0;
    text-align: center;
    font-size: 2.5vh;
    font-family: squarefont;
    text-decoration: none;
    white-space: pre-line;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: flare;
    animation-timing-function: ease-in-out;
    cursor: pointer;
}

.content book a {
    text-align: inherit;
    font-size: 1.5vh;
    width: 100%;
    padding-top: 1vh;
    animation-name: flare-black;
}

.past book a {
    display: none;
}

location book a {
    font-size: 1.5vh;
}

.content:nth-of-type(odd) book a {
    transform: translateX(-2vw);
}

.content:nth-of-type(even) book a {
    transform: translateX(2vw);
}

@keyframes flare-black {
    0%   { color: rgb(20,25,31); }
    50%  { color: rgb(231, 129, 62); }
    100% { color: rgb(20,25,31); }
}

@keyframes flare {
    0%   { color: white; }
    50%  { color: rgb(231, 129, 62); }
    100% { color: white; }
}

partnercontainer {
    position: relative;
    display: inline-block;
    left: 0;
    overflow-x: hidden;
    min-height: 5vh;
    margin-top: 5vh;
    background-color: white;
    text-align: left;
}

partnercontainer img{
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    vertical-align: middle;
}

partnercontainer:nth-of-type(1) {
    width: calc(28vw * 5 * 2);
    animation: scroll 15s linear 0s infinite;
    left: 0;
    // left: calc(-28vw * 4 - 1vw);
}

@keyframes scroll {
    0% { left: 0; }
	100% { left: calc(-28vw * 4 - 1vw); }  /* top is the number of spans (in this case 8) multiplied by span height (45px as described above)*/
}

partnercontainer:nth-of-type(1) img{
    height: auto;
    margin: 4vw;
    width: 20vw;
    max-height: 15vw;
}

partnercontainer:nth-of-type(2) {
    width: 100vw;
    text-align: center;
}

partnercontainer:nth-of-type(2) img{
    height: auto;
    margin: 2vw;
    width: 10vw;
}

social {
    position: fixed;
    display: block;
    width: 6vmin;
    height: fit-content;
    right: 5px;
    top: 40vh;
    background-color: white;
    box-shadow: 0 0 4px black;
    z-index: 10;
    border-radius: 6vmin;
}

social a {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    line-height: 0;
    width: 6vmin;
    height: 3.5vmin;
    margin-top: 1.5vmin;
    margin-bottom: 1.5vmin;
}

social img {
    position: relative;
    display: inline-block;
    width: 3.5vmin;
    margin-top: 1.5vmin;
    margin-bottom: 1.5vmin;
    transform: translateX(1.25vmin);
    border-radius: 10px;
    transition: transform .3s ease;
    transform-origin: right;
}

social img:hover {
    transform: scale(1.1);
}

social a:first-of-type{
    margin-top: 0vmin;
}

social a:last-of-type{
    margin-bottom: 3vmin;
}

footer {
    position: relative;
    display: inline-block;
    margin-top: 10vh;
    bottom: 0;
    height: 10vh;
    width: 100vw;
    background-color: rgb(20,25,31);
    text-align: center;
    vertical-align: middle;
    font-family: heroregular;
    color: white;
    white-space: pre-line;
    padding-top: 3vh;
}

footer a {
    text-decoration: none;
    color: rgb(241,168,64);
}

footer a:hover {
    text-decoration: none;
    color: rgb(252,212,117);
}

.cunicolanti {
    position: relative;
    top: -10vh;
    width: 100vw;
    background-color: white;
    left: 0;
    text-align: center;
    font-size: 2.5vh;
    font-family: squarefont;
    text-decoration: none;
    white-space: pre-line;
    padding-bottom: 7vh;
}